.urban-chat-box {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  left: unset;
  background-color: transparent;
  overflow: hidden;
  z-index: 2147483646;
  padding: 0 24px;
}

.urban-chat-box.left{
  right: unset;
  left: 4rem;
}

.urban-chat-box iframe.hide{
  display: none;
}

.urban-chat-box iframe {
  border: none;
  border-radius: 0.75rem;
  width: 380px;
  height: 100vh;
  max-height: 550px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.urban-chat-box>button {
  background-color: rgb(0, 119, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-top: 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.urban-chat-box.left>button{
  margin-right: auto;
  margin-left: unset;
}

.urban-chat-box>button:hover{
  opacity: 0.7;
}

.urban-chat-box>button img{
  width: 70%;
  height: 70%;
  object-fit: cover;
}